<div class="product p-3 overflow-hidden cursor-pointer">
    <div [routerLink]="'/product/'+product.id">
        <img [src]="product.imageCover" class="w-100"   alt="">
        <h6 class="text-main">{{product.category.name}}</h6>
        <h4>{{product.title.split(" ").slice(0,2).join(" ")}}</h4>
        <div class="d-flex justify-content-between align-items-center">
            <p>{{product.price | currency:'EGP'}} </p>
            <p> <span> <i class="fa-regular fa-star rating-color"></i></span>
                {{product.ratingsAverage}}</p>
        </div>
    </div>
    <button (click)="AddProductToCart(product.id)" class="btn bg-main text-white m-auto d-block">Add to cart</button>
</div> 