<div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
       
        <label for="" class="my-2 ">Email</label>
        <input type="email" placeholder="Email..." class="form-control "  formControlName="email">
        <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.status=='INVALID'" class="alert alert-danger">
            <p *ngIf="loginForm.get('email')?.getError('required') ">Email is required</p>
            <p  *ngIf="loginForm.get('email')?.getError('email')">Enter Valid Email</p>
        </div>
        <label for="" class="my-2 "> Password</label>
        <input type="password" placeholder="Password..." class="form-control "  formControlName="password">
        <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.status=='INVALID'" class="alert alert-danger">
            <p *ngIf="loginForm.get('password')?.getError('required') ">Password is required</p>

        </div>
       
        <button type="submit"  class="btn bg-main text-white ms-auto d-block">Login</button>
    </form>
</div>
